@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* SCREEN XS > 0-600 */

/* Struttura web app */

#wrapper{
    display: flex;
}

header{
    width: 50px;
    height: calc(100vh - 90px);
    overflow: hidden;
    background-color: #000;
}

main{
    width: 100%;
    background-color: #141922;
    overflow: auto;
}

footer{
    height: 90px;
    background-color: #282828;
    overflow: hidden;
}

/* Header */

.header_container{
    width: 50px;
    height: calc(100vh - 90px);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo .logobig{
    display: none;
}

.menu .text{
    display: none;
}

.playlist{
    display: none;
}

.header_down .text{
    display: none;
}

header .icon{
    color: #707070;
}

.menu .home .icon{
    color: #ebe8e8;
}

.logo .logosmall{
    width: 20px;
}

.menu{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.install .icon{
    font-size: 5px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 2px 3px;
}

.install hr{
    display: none;
}

.user .profile img{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #707070;
    margin-top: 20px;
}

/* SCREEN S > 601-700 */

/* SCREEN MD > 701-1100 */

/* SCREEN LARGE > 1100 */