@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ***************************** 
*********** SCREEN XS > 0-600 */

/* Struttura web app */

#wrapper{
    display: flex;
}

header{
    width: 50px;
    height: calc(100vh - 90px);
    min-height: 220px;
    overflow: hidden;
    background-color: #000;
}

main{
    width: 100%;
    background-color: #141922;
    overflow: auto;
}

footer{
    height: 90px;
    min-height: 90px;
    background-color: #282828;
    overflow: hidden;
}

/* Header */

.header_container{
    width: 50px;
    height: calc(100vh - 90px);
    min-height: 220px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo .logobig{
    display: none;
}

.menu .text{
    display: none;
}

.playlist{
    display: none;
}

.header_down .text{
    display: none;
}

header .icon{
    color: #707070;
}

.menu .home .icon{
    color: #ebe8e8;
}

.logo .logosmall{
    width: 20px;
}

.menu{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.install .icon{
    font-size: 5px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 2px 3px;
}

.install hr{
    display: none;
}

.user .profile img{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #707070;
    margin-top: 20px;
}

/* Footer */

footer .player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

footer .player_album{
    width: 30%;
    height: 40px;
    display: flex;
    align-self: center;
    gap: 10px;
}

.player_album img{
    width: 30px;
    height: 30px;
}

.player_album ul{
    list-style: none;
    color: #707070;
}

.player_album .info li{
    font-size: 10px;
    font-weight: bold;
}

.player_album .info li:first-child{
    font-size: 12px;
    color: #ebe8e8;
}

.player_album .icons{
    color: #707070;
    display: flex;
    flex-direction: column;
}

footer .player_controller{
    width: 40%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.player_controller .controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: #ebe8e8;   
}

.player_controller .controls span:nth-of-type(3){
    font-size: 30px;
    align-self: center;
}

.player_controller .timing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ebe8e8;
    gap: 5px;
}

.timing span{
    font-size: 10px;
    font-weight: bold;
}

.timing .time{
    width: 110px;
    background-color: #707070;
    height: 5px;
    border-radius: 15px;
    position: relative;
}

.timing .time_passed{
    width: 30px;
    background-color: #ebe8e8;
    height: 5px;
    border-radius: 15px;
    position: absolute;
}

footer .player_audio{
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.player_audio span{
    color: #ebe8e8;
    font-size: 12px;
}

.player_audio .volume{
    width: 80px;
    background-color: #707070;
    height: 5px;
    border-radius: 15px;
    position: relative;
}

.player_audio .volume_act{
    width: 20px;
    background-color: #ebe8e8;
    height: 5px;
    border-radius: 15px;
    position: absolute;
}

/* ***************************** 
*********** SCREEN S > 601-700 */

@media all and (min-width: 601px) {

    header{
        width: 250px;
    }

    /* Header */

    .header_container{
        width: 250px;
        align-items: flex-start;
        padding: 15px;
    }

    .logo .logobig{
        display: inline-block;
    }

    .logo img.logobig{
        width: 100px;
    }

    .logo .logosmall{
        display: none;
    }

    .menu img{
        width: 20px;
    }

    .menu .text{
        display: inline-block;
        color: #707070;
        font-size: 12px;
    }

    .playlist{
        display: flex;
        flex-direction: column;
        color: #707070;
    }

    .header_down .text{
        display: inline-block;
        color: #707070;
        font-size: 12px;
    }

    .home .text{
        color: #fff;
    }

    .home{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .search{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .library{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    header .icon{
        color: #707070;
    }

    .menu .home .icon{
        color: #ebe8e8;
    }

    .logo .logobig{
        width: 50px;
    }
    
    .playlist h3{
        color: #ebe8e8;
        margin-top: 10px;
        font-size: 12px;
    }

    .playlist ul{
        list-style: none;
    }

    .playlist .create{
        font-size: 25px;
        padding: 0 8px;
        background-color: #707070;
        color: #000;
    }

    .playlist li{
        font-size: 10px;
        font-weight: bold;
        margin: 10px 0;
    }

    .playlist .newplaylist{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .newplaylist span:last-child{
        font-size: 12px;
    } 

    .header_down .install{
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
    }

    .install .icon{
        font-size: 5px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 2px 3px;
    }

    .install .space{
        display: inline-block;
        width: 150px;
        background-color: #707070;
        height: 1px;
    }

    .install .text{
        font-weight: bold;
        font-size: 10px;
    }

    .header_down .user{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
    }

    .user .profile img{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #707070;
        margin-top: 0px;
    }

    .user .text{
        color: #ebe8e8;
        font-weight: bold;
        font-size: 12px;
    }
}



/* ***************************** 
*********** SCREEN MD > 701-1100 */

/* ***************************** 
*********** SCREEN LARGE > 1100 */